<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>task matrix</title>
  </head>
  <body>
    <div class="container">
      <h1>welcome to task matrix</h1>
      <p>create and manage tasks for your whole team.</p>
      <p>click below to register or login.</p>
      <a class="btn" href="/register">register</a>&nbsp;&nbsp;
      <a class="btn" href="/login">login</a>
    </div>
  </body>
</html>
