/* Center the form vertically and horizontally */
.container {
  width: 50%;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 10px;
  text-align: center; /* Center align the content within the container */
}

/* Style for the card */
.card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: white;
}

.card:hover {
  transform: scale(1.05);
}

/* Style for the form inputs */
.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 1rem;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #4285f4;
}

/* Pink highlight */
.highlight {
  background-color: rgb(44, 42, 42);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1rem;
  text-align: center; /* Center align the content within the highlight */
}

/* Center the submit button */
button[type="submit"] {
  display: block;
  margin: 1rem auto;
  background-color: rgb(44, 42, 42);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3f0946;
}

.disclaimer {
  margin-top: 1.5rem;
  font-size: 14px;
  text-align: center;
  color: #666; /* Set a medium gray text color */
}
